/*版型四*/
#wrapper{
    width: 991px;
    display: flex;
    margin: 50px auto;
}
.icon{
    margin-bottom: 10px;
    width: 100px;
}
#nav-info{
    width: 20%;
}
nav > ul {
    list-style-type: none;
    color: rgb(96,190,174);
    padding-left: 0;
}
nav > li{
    font-size:2rem;
    margin-bottom: 18px;
}
aside{
    display: block;
    color: rgb(87,87,87);
}
aside > h5{
    font-size: 1rem;
    text-transform: uppercase;
}
aside > p{
    font-size: 0.8rem;
    margin-right: 100px;
}
.hero-unit{
    margin-bottom: 10px;
}
#nd-nav{
    width:100%;
    display: flex;
    background-color: rgb(239,248,247);
    color: rgb(96,190,174);
    margin-bottom: 10px;
    margin: 0;
    text-align: center;
}
#nd-nav > h3 {
    font-size: 2rem;
    line-height: 30px;
    margin:0;
}
#nd-nav > p {
    font-size: 1rem;
    margin: 0;
}
.option{
    flex:1;
    border-right: rgb(217,239,236) solid 0.5px;
    padding: 10px 0px;
}

.title{
    color: rgb(96,190,174);
    font-size: 1.8rem;
}
time{
    color: #AAA;
}
#archives{
    display: flex;
    flex-wrap: wrap;
}
#main{
    width: 80%;
}
.title-box{
    position: relative;
    bottom:285px;
}
#titleA{
    text-align: right;
    background-color: white;
    position: relative;
    float: right;
    padding: 15px;
    font-size: 2.2rem;
}
#titleB{
    clear: both;
    text-align: right;
    position: relative;
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 2.2rem;
}
#nd-nav{
    display: flex;
    width: 100%;
}
.hero-unit{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.pic {
    height: 445px;
}
img{
    width: 100%;
}
.arti-with-pic{
    width: 25%;
    padding: 0px 10px;

}
}
/*版型三*/
@media screen and (min-width: 769px) and (max-width: 991px){
#wrapper{
    max-width: 768px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    }
aside{
    display: none;
    }
#main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    }
#nav-info {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
    }
#nd-nav {
    position: relative;
    top: 5px;
    }
nav {
    position: relative;
    left: 33%;
    }
nav > li {
    display: inline-block;
    padding: 0 10px;
    font-size: 1.7rem;
    }
.pic {
    height: 445px;
    }
.option {
     padding: 5px 0px;
    }
#archives {
    padding-top: 10px;
    }
}

/*版型二*/
@media screen and (min-width: 480px) and (max-width: 768px){
#wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    margin: 20px auto;
}
aside{
    display: none;
}
.option{
    display: none;
}
#main{
    width: 100%;
}
#archives {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}
#nav-info {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
}
.arti-with-pic {
    width: 50%;
    padding: 20px 5px;
}
.pic {
    height: 248px;
    width: 100%;
}
#titleA, #titleB {
    top: 211px;
    font-size: 1rem;
    text-align: left;
    padding: 10px;
    width: 100%;
}
.icon {
    width: 60px;
}
nav {
    position: relative;
    left: 3%;
}

nav >li {
    display: inline;
    padding: 10px;
    font-size: 1.6rem;
    }
}

/*版型一*/
@media screen and (max-width: 480px){
#wrapper{
    max-width: 350px;
    margin: 10px auto ;
    display: flex;
    flex-wrap: wrap;
    }
aside{
    display: none;
    }
#main, #archives, #nav-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    }
#nav-info {
    padding: 0;
    }
#titleA, #titleB {
    top: 211px;
    font-size: 1rem;
    text-align: left;
    width: 100%;
    padding: 10px;
    }
.arti-with-pic {
    width: 100%;
    padding: 0 0 20px 0;
    }
.hero-unit {
    height: 248px;
    }
.icon {
    width: 60px;
    order: 2;
    margin: 0 auto;
    margin-bottom: 10px;
    }
nav {
    margin: 0 auto;
    }
nav > ul {
    display: flex;
    flex-wrap: nowrap;
    }
nav > li {
    padding: 5px;
    font-size: 1.4rem;
    display: inline;
    order: 1;
    }
}
